<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ project_name }} - Debugger - pyspider</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="description" content="pyspider - debugger - {{ project_name }}">
    <meta name="author" content="binux">

    <link href="{{ url_for('cdn', path='codemirror/5.20.2/codemirror.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('cdn', path='font-awesome/4.0.3/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('cdn', path='codemirror/5.20.2/addon/dialog/dialog.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('cdn', path='codemirror/5.20.2/addon/lint/lint.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='debug.min.css') }}" rel="stylesheet">

    <script src="{{ url_for('cdn', path='jquery/1.11.0/jquery.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='jsonlint/1.6.0/jsonlint.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/5.20.2/codemirror.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/5.20.2/mode/xml/xml.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/5.20.2/mode/css/css.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/5.20.2/mode/javascript/javascript.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/5.20.2/mode/htmlmixed/htmlmixed.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/5.20.2/mode/python/python.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/5.20.2/addon/search/search.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/5.20.2/addon/search/searchcursor.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/5.20.2/addon/dialog/dialog.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/5.20.2/addon/selection/active-line.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/5.20.2/addon/runmode/runmode.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/5.20.2/addon/lint/lint.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/5.20.2/addon/lint/json-lint.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='codemirror/2.36.0/formatting.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='URI.js/1.11.2/URI.min.js') }}"></script>
</head>

<body>
<section id="control">
    <div class="title pull-left"><a href="/">pyspider</a> &gt; {{ project_name }}</div>
    <div class="pull-right">
        <a href="http://docs.pyspider.org/" target="_blank">Documentation</a>
        <span class="webdav-btn">WebDAV Mode</span>
    </div>
</section>
<section id="editarea">
    <div id="left-area" class="debug-panel" style="right: 50%">
        <div id="task-panel">
            <div id="task-editor" class="editor">
                <div id="run-task-btn">run</div>
                <div id="undo-redo-btn-group">
                    <a href="javascript:;" id="undo-btn"> &lt; </a>|<a href="javascript:;" id="redo-btn">&gt; </a>
                    <span id="history-wrap" style="display: none;">|<a target=_blank
                                                                       id="history-link">history</a></span>
                </div>
            </div>
            <div id="python-log" style="display: none;">
                <pre style="display: none;"></pre>
                <div id="python-log-show"></div>
            </div>
            <div id="debug-tabs">
                <div id="tab-web" class="tab" style="display: none;">
                    <div id="css-selector-helper">
                        <input class="copy-selector-input"/>
                        <button class="btn copy-selector"><i class="fa fa-clipboard" title="copy css selector"></i>
                        </button>
                        <button class="btn add-to-editor"><i class="fa fa-arrow-right" title="add to editor"></i>
                        </button>
                    </div>
                    <div class="iframe-box"></div>
                </div>
                <div id="tab-html" class="tab" style="display: none;">
                    <pre class="cm-s-default"></pre>
                </div>
                <div id="tab-follows" class="tab">
                    {# <div class="newtask">
                <span class="task-callback">__callback__</span> &gt; <span class="task-url">__url__</span>
                <div class="task-run"><i class="fa fa-play"></i></div>
                <div class="task-more"> <i class="fa fa-ellipsis-h"></i> </div>
              </div> #}
                </div>
                <div id="tab-messages" class="tab" style="display: none;">
                    <pre class="cm-s-default"></pre>
                </div>
            </div>
        </div>
        <ul id="tab-control">
            <li data-id="tab-messages">messages<span class="num" style="display: none;"></span></li>
            <li data-id="tab-follows">follows<span class="num" style="display: none;"></span></li>
            <li data-id="tab-html">html</li>
            <li data-id="tab-web" class="active">web</li>
            <li id="J-enable-css-selector-helper">enable css selector helper</li>
        </ul>
        <div class="overlay" style="display: none;"></div>
    </div>

    <div id="right-area" class="debug-panel" style="left: 50%">
        <div id="python-editor" class="editor focus">
            <div id="config-task-btn">config</div>
            <div id="code-task-btn">code</div>
            <div id="save-task-btn">save</div>
        </div>
        <div id="popup">
            <form id="form">
                <section class="basic-config">
                    <h3>基础配置项</h3>
                    <section class="form-block">
                        <section class="form-item">
                            <label>URL</label>
                            <input type="text" name="start_url"/>
                        </section>
                        {#                        <section class="form-item">#}
                        {#                            <label>浏览器</label>#}
                        {#                            <input type="text" name="webDevice"/>#}
                        {#                        </section>#}
                        {#                        <section class="form-item">#}
                        {#                            <label>超时时间</label>#}
                        {#                            <input type="text" name="timeout"/>#}
                        {#                        </section>#}
                        {#                        <section class="form-item">#}
                        {#                            <label>使用代理</label>#}
                        {#                            <input type="text" name="proxy"/>#}
                        {#                        </section>#}
                        {#                        <section class="form-item">#}
                        {#                            <label>翻页数</label>#}
                        {#                            <input type="text" name="pageNumber"/>#}
                        {#                        </section>#}
                    </section>
                </section>
                <section class="list-config">
                    <h3>列表配置项</h3>
                    <section class="form-block">
                        <section class="form-item">
                            <label>详情入口</label>
                            <input type="text" name="detail_input_xpath"/>
                        </section>
                        <section class="form-item">
                            <label>下页入口</label>
                            <input type="text" name="next_page_xpath"/>
                        </section>
                        <section class="form-item">
                            <label>标题选择</label>
                            <input type="text" name="index_title_xpath"/>
                        </section>
                        {#                        <section class="form-item">#}
                        {#                            <label>点击选择</label>#}
                        {#                            <input type="text" name="clickSelect"/>#}
                        {#                        </section>#}
                        {#                        <section class="form-item">#}
                        {#                            <label>点击等待</label>#}
                        {#                            <input type="text" name="clickWait"/>#}
                        {#                        </section>#}
                        {#                        <section class="form-item">#}
                        {#                            <label>翻页等待</label>#}
                        {#                            <input type="text" name="nextWait"/>#}
                        {#                        </section>#}
                        {#                        <section class="form-item">#}
                        {#                            <label>子窗序号</label>#}
                        {#                            <input type="text" name="iframeNumber"/>#}
                        {#                        </section>#}
                    </section>

                </section>
                <section class="detail-config">
                    <h3>详情配置项</h3>
                    <section class="form-block">
                        <section class="form-item">
                            <label>内容选择</label>
                            <input type="text" name="detail_xpath"/>
                        </section>
                        {#                        <section class="form-item">#}
                        {#                            <label>文件选择</label>#}
                        {#                            <input type="text" name="fileXpath"/>#}
                        {#                        </section>#}
                        <section class="form-item">
                            <label>标题选择</label>
                            <input type="text" name="title_xpath"/>
                        </section>
                        <section class="form-item">
                            <label>发布日期</label>
                            <input type="text" name="publish_time"/>
                        </section>
                        {#                        <section class="form-item">#}
                        {#                            <label>等待选择</label>#}
                        {#                            <input type="text" name="selectWait"/>#}
                        {#                        </section>#}
                        {#                        <section class="form-item">#}
                        {#                            <label>强制等待</label>#}
                        {#                            <input type="text" name="forceWait"/>#}
                        {#                        </section>#}
                        {#                        <section class="form-item">#}
                        {#                            <label>子窗序号</label>#}
                        {#                            <input type="text" name="iframeNumber"/>#}
                        {#                        </section>#}
                    </section>
                </section>
                <button type="button" id="generate-code">生成代码</button>
            </form>
        </div>
        <div class="overlay" style="display: none;"></div>

    </div>
</section>

<script>
    const task_content = {{ task | tojson | tojson | safe }};
    const script_content = {{ script | tojson | safe }};
    $(document).ready(() => {
        // 根据代码初始化表单配置项
        const initConfig = () => {
            const start_url_pattern = /"start_url": "(.*?)",/;
            const start_url_match = script_content.match(start_url_pattern)
            if (start_url_match) {
                $("input[name='start_url']").val(start_url_match[1])
            }
            const detail_input_xpath_pattern = /"detail_input_xpath": "(.*?)",/
            const detail_link_match = script_content.match(detail_input_xpath_pattern)
            if (detail_link_match) {
                $("input[name='detail_input_xpath']").val(detail_link_match[1])
            }
            const next_page_xpath_pattern = /"next_page_xpath": "(.*?)",/
            const next_page_xpath_match = script_content.match(next_page_xpath_pattern)
            if (next_page_xpath_match) {
                $("input[name='next_page_xpath']").val(next_page_xpath_match[1])
            }
            const index_title_xpath_pattern = /"index_title_xpath": "(.*?)",/
            const index_title_xpath_match = script_content.match(index_title_xpath_pattern)
            if (index_title_xpath_match) {
                $("input[name='index_title_xpath']").val(index_title_xpath_match[1])
            }
            const detail_xpath_pattern = /"detail_xpath": "(.*?)",/
            const detail_xpath_match = script_content.match(detail_xpath_pattern)
            if (detail_xpath_match) {
                $("input[name='detail_xpath']").val(detail_xpath_match[1])
            }
            const title_xpath_pattern = /"title_xpath": "(.*?)",/
            const title_xpath_match = script_content.match(title_xpath_pattern)
            if (title_xpath_match) {
                $("input[name='title_xpath']").val(title_xpath_match[1])
            }
            const publish_time_pattern = /"publish_time": "(.*?)",/
            const publish_time_match = script_content.match(publish_time_pattern)
            if (publish_time_match) {
                $("input[name='publish_time']").val(publish_time_match[1])
            }
        }
        initConfig()

        $("#code-task-btn").on("click", () => {
            $("#popup").css("display", "none")
        })
        $("#config-task-btn").on("click", () => {
            $("#popup").css("display", "block")
        })
        $('#generate-code').on("click", () => {
            const data = $("form").serializeArray();
            let updatedScript = script_content;
            data.forEach(field => {
                const placeholder = new RegExp(`"${field.name}":\\s*"[^"]*"`, 'g');
                updatedScript = updatedScript.replace(placeholder, `"${field.name}": "${field.value}"`);
            });
            if (window.python_editor){
                window.python_editor.setValue(updatedScript)
            }
            console.log(updatedScript)
        })
    })
</script>
<script src="{{ url_for('static', filename='debug.min.js') }}"></script>
</body>
</html>
<!-- vim: set et sw=2 ts=2 sts=2 ff=unix fenc=utf8 syntax=htmldjango: -->

